html {
  min-height: 100%;
  position: relative;
}
body {
  font: 13px/1.462 Arial, sans-serif; /* line-height: 19px */
}
.aui-icon-container {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  position: relative;
}
.aui-icon-container > img,
.aui-icon-container > span {
  border-width: 0;
  left: 8px;
  position: absolute;
  top: 8px;
}
.aui-list-truncate a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
