.aui-dropdown2 {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #b8b8b8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  display: none;
  max-width: 610px;
  min-width: 140px;
  position: absolute;
}
.aui-dropdown2 ul {
  list-style: none;
  margin: 4px 0;
  padding-left: 0;
}
.aui-dropdown2-section {
  border-top: 1px solid #d8d8d8;
}
.aui-dropdown2-section:first-child {
  border-top-width: 0;
}
.aui-dropdown2 h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  margin: 5px 8px -1px;
}
.aui-dropdown2 a {
  color: #000;
  display: block;
  padding: 7px 8px 6px;
  text-decoration: none;
}
.aui-dropdown2 .active {
  background-color: #326ca6;
  color: #fff;
}
.aui-dropdown2 .disabled {
  color: #909090;
  cursor: default;
}
.aui-dropdown2 .aui-icon-container,
.aui-dropdown2 .aui-dropdown2-radio,
.aui-dropdown2 .aui-dropdown2-checkbox {
  padding-left: 28px;
}
.aui-dropdown2-radio,
.aui-dropdown2-checkbox {
  background-position: 8px 8px;
  background-repeat: no-repeat;
}
