body {
  margin: 20px;
  margin-bottom: 140px;
  width: 610px;
}
a {
  color: #326ca6;
}
a:focus,
a:hover {
  color: #000;
}
h1, h2, p {
  margin: 16px 0;
}
h2 {
  margin-top: 48px;
}
code {
  font: 12px monospace;
}
pre {
  background-color: #f4f4f4;
  box-sizing: border-box;
  line-height: 1.333;
  margin: 0;
  overflow: auto;
  padding: 7px 10px;
  white-space: pre-wrap;
}
.intro {
  margin-top: -9px;
  font-size: 14px;
}
.demo {
  overflow: hidden;
  width: 1280px;
}
.demo > div {
  float: left;
}
.demo > div:first-child {
  float: left;
  width: 610px;
  margin-right: 20px;
}

/* Syntax Highlighting */
.data {
  color: #881280;
}
.keyword {
  color: #994500;
}
.value {
  color: #1a1aa6;
}
.highlight {
  background-color: #ff8;
}
